extends layot

block content
  .container
    p.
      Жасымда ғылым бар деп ескермедім, <br>
      Пайдасын көре тұра тесермедім. <br>
      Ер жеткен соң түспеді уысыма, <br>
      Қолымды мезгілінен кеш сермедім. <br>
