extends layot

  

block content
  #dialog-form(title="Жаңа қолданушыны енгізу")
    p.validateTips All form fields are required.
    form(role='form')
      .form-group
          label(for="name") Аты
          input#name(type="text", name="name", class="form-control")
      .form-group
          label(for="password") паролі
          input#password.form-control(type="text", name="password")
      input(type="submit", tabindex="-1", style="position: absolute; top:-1000px;")

  .container
    h2 Зарядтардың тізімі
    table#charges.table
      thead
        tr
          - each item in th
            th= item
      tbody
        - if (tabl!=NULL)
          - for (var i=0; i < tabl.length; i++ ) {
          tr
            each item, key in tabl[i]
              td(class= key) #{item} 
          - }

    button#addcharges(type="button",
      class="btn btn-default navbar-btn") Жаңадан енгізу
